<!-- <hr>
<footer style="background-color: #f1f1f1; color: #333; padding: 1em; text-align: center;">
    <p>&copy; <%= new Date().getFullYear() %> PMDD Tracker. All rights reserved.</p>
</footer> -->



  <footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container-fluid">
      <span class="text-body-secondary"><p><%= new Date().getFullYear() %> PMDD Tracker. All rights reserved.</p></span>
    </div>
  </footer>