<% console.log("Rendering header partial") %>

<header>
    <h1>PMDD Tracker</h1>
    <nav>
        <a href="/" style="color: white; margin: 0 10px;">Home</a>
        <a href="/entries" style="color: white; margin: 0 10px;">All Entries</a>
        <a href="/new-entry" style="color: white; margin: 0 10px;">Add New Entry</a>
        <a href="/search" style="color: white; margin: 0 10px;">Search Entries</a>
        <a href="/analytics" style="color: white; margin: 0 10px;">Monthly Mood</a>
    </nav>
        <p class="quote-banner"><%= quote %></p>
</header>
<hr>