<% console.log("Rendering header partial") %>

<header>
    <h1>PMDD Tracker</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="nav-brand">HOME</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/new-user">CREATE ACCOUNT</a>
                <a class="nav-item nav-link" href="/entries">ALL ENTRIES</a>
                <a class="nav-item nav-link" href="/new-entry">NEW ENTRY</a>
                <a class="nav-item nav-link" href="/search">SEARCH</a>
                <a class="nav-item nav-link" href="/analytics">MONTHLY MOOD</a>
            </div>
        </div>
    </nav>


    <div class="quote-banner-container">
        <p class="quote-banner"><%= quote %></p>
    </div>
</header>
<hr>

