<h1>Monthly Analytics</h1>

    <div id="datesData" style="display: none;"><%= dates %></div>
    <div id="moodData" style="display: none;"><%= moodData %></div>

    <canvas id="moodChart"></canvas>

    <script type="module" src="/js/charts.js"></script>