<% if (user) { %>
    <div class="welcome-message">
        <h1>Welcome back, <%= user.username %></h1>
    </div>
<% } %>

<section class="hero-section">
  <div class="hero-content">
      <p class="tagline">A personalized tool to help you track, and navigate your cycle with confidence.</p>
      <div class="subtext-container">
          <p class="subtext">Your cycle, your insights.</p>
          <a href="#" class="btn-start-tracking">Start Tracking</a>
      </div>
      <h1 class="main-title">ClarityPMDD</h1>
  </div>
</section>

  <section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2>When it comes to your cycle, ClarityPMDD is your guide.</h2>
            <p>Track the symptoms that matter most to you and uncover meaningful patterns with personalized insights. ClarityPMDD helps you navigate each phase of your cycle with confidence and control.</p>
        </div>
        <div class="col-md-6">
            <img src="images/cycle-illustration.webp" alt="Abstract Cycle Image" class="img-fluid rounded-circle">
        </div>
    </div>
</section>


<section class="feature-section">
  <div class="container">
      <h2 class="text-center">ClarityPMDD Features</h2>
      <div class="row justify-content-center">
          <div class="col-md-4 feature-item">
              <img src="svg/calendar-heart-fill.svg" alt="Customizable Tracking Icon" class="feature-icon">
              <p>Track only the symptoms and emotions that matter to you, with flexible options that fit your unique experience.</p>
          </div>
          <div class="col-md-4 feature-item">
              <img src="svg/eye.svg" alt="Easy Input Icon" class="feature-icon">
              <p>Designed for simplicity, ClarityPMDD lets you log your symptoms quickly, making consistent tracking easy over time.</p>
          </div>
          <div class="col-md-4 feature-item">
              <img src="svg/bullseye.svg" alt="Visualize Patterns Icon" class="feature-icon">
              <p>Turn your data into graphs that reveal cycles and patterns in your emotions and physical well-being.</p>
          </div>
      </div>
  </div>
</section>

